@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');
@import url('react-date-range/dist/styles.css'); // main style file
@import url('react-date-range/dist/theme/default.css'); // theme css file


body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Encode Sans', sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.MuiDataGrid-columnHeaderTitle {
  font-weight: bold !important;
}



